/* Orders Section: */
.orders {
    padding-top: 25px;
    padding-bottom: 150px;
    overflow-y: auto;
    height: 78vh;
}
.orders::-webkit-scrollbar {
    display: none;
}

.orders__wrapper {
    background-color: white;
    padding: 30px;
}

.orders__heading {
    margin: 0;
    margin-bottom: 10px;
}

table,
th,
td {
    border-collapse: collapse;
}

.orders__table {
    background-color: white;
    display: block;
    margin: 0;
    margin-bottom: 30px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ffd369;
    border-radius: 2px;
}
