/* Categories Section */
.categories__products-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  border: 2px solid dodgerblue;
}

.categories {
  padding-top: 25px;
  padding-bottom: 150px;
  overflow-y: auto;
  height: 78vh;
}

.categories::-webkit-scrollbar {
  display: none;
}

.categories__wrapper {
  background-color: white;
  padding: 30px;
}

.categories__heading {
  margin: 0;
  margin-bottom: 10px;
}

.categories__button {
  margin-top: 10px;
  background-color: #ffd369;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.categories__title-input-wrapper,
.categories__price-input-wrapper,
.categories__file-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.categories__file-upload-input {
  cursor: pointer;
}

/* Categories Result */
.categories-result__wrapper {
  background-color: white;
  padding: 30px;
  width: 720px;
}

.categories__delete-button {
  margin: 0;
  background-color: dodgerblue;
}

/* Products Section */
.products__wrapper {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  border: 2px solid #ffd369;
  margin-top: 20px;
}

.products__input-wrapper {
  background-color: white;
  padding: 30px;
  width: 357px;
}

.products__select,
.size__select {
  display: block;
  width: 100%;
  padding: 20px;
  border-color: dodgerblue;
  margin-top: 15px;
}

.products__result {
  background-color: white;
  padding: 30px;
  width: 720px;
}
