.webdash-team-section {
    padding-top: 25px;
    padding-bottom: 150px;
    overflow-y: auto;
    height: 78vh;
  }
  .webdash-team-section::-webkit-scrollbar {
    display: none;
  }
.webdash-team__form {
    width: 800px;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 30px;
    padding: 30px;
    background-color: #fff;
    border-radius: 3px;
}

.webdash-team__heading{
    margin-bottom: 20px;
}

.webdash-team__input-wrapper {
    width: 50%;
}
.webdash-team__input-wrapper + .webdash-team__input-wrapper {
    margin-top: 30px;
}
.webdash-team__label {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 16px;
}

.webdash-team__input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ffd369;
    outline: 0;
    border-radius: 3px;
}

.webdash-team__submit-btn {
    padding: 10px;
    background-color: #ffd369;
    border-radius: 3px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.team-members__wrapper {
    background-color: #fff;
    margin: 30px;
    padding: 30px;
}

.team-members__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.team-members__item {
    display: flex;
    padding: 10px;
}

.team-members__item + .team-members__item {
    border-top: 1px solid #333;
}

.team-members__item-btn {
    width: 60px;
    display: block;
    margin-left: auto;
    padding: 5px;
    color: #fff;
    background-color: lightcoral;
    border: none;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}
