.speaker-table__wrapper {
    width: 900px;
    border: 1px solid #dfe0eb;
    border-radius: 3px;
    background-color: #fff;
    padding: 30px;
}

.speaker-section__heading {
    margin-bottom: 20px;
}

.speaker-table {
    width: 100%;
    display: block;
    margin-right: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.speaker-table__head-th,
.speaker-table__body-td {
    border: 1px solid black;
    padding: 7px;
}

.speaker-table__head-th--id,
.speaker-table__body-td--id {
    width: 30px;
}
