.speaker-table__wrapper {
    width: 900px;
    border: 1px solid #dfe0eb;
    border-radius: 3px;
    background-color: #fff;
    padding: 30px;
}

.speaker-section__heading {
    margin-bottom: 20px;
}

.speaker-table {
    width: 100%;
    display: block;
    margin-right: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.speaker-table__head-th,
.speaker-table__body-td {
    border: 1px solid black;
    padding: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.speaker-table__head-th--id,
.speaker-table__body-td--id {
    width: 30px;
}

.speaker-table__head-th-name,
.speaker-table__body-td-name {
    width: 125px;
}

.speaker-table__head-th-surname,
.speaker-table__body-td-surname {
    width: 125px;
}

.speaker-table__head-th-profession,
.speaker-table__body-td-profession {
    width: 125px;
}

.speaker-table__head-th-age,
.speaker-table__body-td-age {
    width: 125px;
}

.speaker-table__head-th-work,
.speaker-table__body-td-work {
    width: 125px;
}

.speaker-table__head-th-time,
.speaker-table__body-td-time {
    width: 125px;
}
