// .post {
//   display: flex;
//   align-items: flex-start;
//   justify-content: space-between;
  
//   overflow-y: auto;
//   height: 83vh;
// }
// .post__container {
//   display: flex;
//   margin-right: 5%;
//   width: 60%;
// }
// .post__form {
//   padding: 10px;
//   width: 100%;
// }
// .post__inner {
//   display: flex;
//   align-items: stretch;
// }
// .post__input-title {
//   border: none;
//   height: 40px;
//   padding: 2px 20px;
//   width: 90%;
// }
// .post__label-file {
//   border-right: 1px solid rgb(151, 151, 151);
//   text-align: center;
//   display: flex;
//   align-items: center;
//   cursor: pointer;
// }
// .post__label-file span{ 
//   display: block;
//   width: 50px;
//   height: 100%;
//   background-color: #fff;
// }
// .post__label-file  span svg{ 
//   width: 30px;
//   height: 20px;
//   margin-top: 10px;
// }
// .post__input-file {
  
// }
// .post__textarea {
//   width: 100%;
//   resize: none;
//   border: none;
//   padding: 10px 20px;
//   border-top: 1px solid rgb(151, 151, 151);
// }
// .post__btn-send {
//   padding: 0;
//   border: none;
//   width: 60px;
//   background-color: rgb(84, 173, 233);
//   border-left: 1px solid rgb(151, 151, 151);
//   color: #fff;
// }
// .post__target {
  
// }
// .target {
//   background-color: #fff;
//   width: 40%;
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
//   padding: 10px 25px;
//   border-left: 1px solid rgb(161, 161, 161);
  
//   overflow-y: auto;
//   height: 83vh;
// }
// .target__wrapper {
//   display: flex;
//   flex-direction: row-reverse;
//   align-items: center;
// }
// .target__gender {
//   margin-left: 15px;
// }
// .target__gender > span{
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 14px;
//   display: flex;
//   align-items: center;
//   color: #4F4F4F;
// }
// .target__gender--m {
  
// }
// .target__gender-checkbox {
  
// }
// .target__gender {
  
// }
// .target__gender--f {
  
// }
// .target__gender-checkbox {
  
// }
// .target__all-btn {
//   padding: 0;
//   border: none;
//   background-color: #46BADAFF;
//   padding: 10px;
//   width: 200px;
//   color: #fff;
//   margin-left: 100px;
// }
// .all-btn {
//   padding: 0;
//   border: none;
//   width: 40px;
//   height: 40px;
//   border-radius: 50%;
//   margin-bottom: 10px;
//   background-color: aquamarine;
//   margin-top: 40px;
// }
// .target__inner {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
//   margin-bottom: 25px;
// }
// .target__list {
//   padding: 0;
//   margin: 0;
//   list-style: none;
  
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row-reverse;
// }
// .target__item {
//   margin-left: 10px;
//   margin-bottom: 5px;
// }
// .target__bnt {
//   border-radius: 50px;
//   border: none;
//   background-color: rgba(137, 43, 226, 0.26);
//   padding: 0;
//   min-width: 100px;
//   padding: 5px 0;
//   font-weight: bold;
//   font-size: 12px;
//   line-height: 14px;
//   color: #4F4F4F;
//   text-transform: capitalize;
//   padding: 5px 10px;
//   cursor: pointer;
// }

// .target__btn-actv {
//   background-color: rgb(137, 43, 226);
//   cursor: no-drop;
// }

.post {
  // overflow-y: auto;
  // height: 83vh;
}
.post__form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
.post__container {
  display: flex;
}
.post__inner {

}
.post__label-file {

}
.post__textarea {

}
.post__target {
  overflow-y: auto;
  height: 83vh;
}