/* Orders Section: */
.offers {
    padding-top: 25px;
}

.offers__wrapper {
    background-color: white;
    padding: 30px;
}

.offers__heading {
    margin: 0;
    margin-bottom: 10px;
}

table,
th,
td {
    border-collapse: collapse;
}

.offers__table {
    background-color: white;
    display: block;
    margin: 0;
    margin-bottom: 30px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ffd369;
    border-radius: 2px;
}
