.stats__age {
  width: 100%;
  background-color: #fff;
}
.stats-age {
  margin-top: 15px;
  padding: 10px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
}
.stats-age__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #4f4f4f;
}
.stats-age__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.stats-age__item {
  max-width: 200px;
  width: 100%;
  margin-right: 40px;
  margin-bottom: 21px;
  position: relative;
  &::before {
    z-index: 0;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    border-radius: 6px;
    background-color: #EFF3F9;
  }
}
.stats-age__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
}
.stats-age__text {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #4F4F4F;
  margin-right: 10px;
}
.stats-age__count {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #979797;
}
.stats-age__dio {
  display: block;
  width: 50%;
  height: 10px;
  background-color: rgb(41, 204, 150);
  border-radius: 6px;
  position: relative;
  z-index: 5;
  

}